*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock{
    display: flex;
    height: 400px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.clock label{
    position: absolute;
    text-align: center;
    transform: rotate( calc( var(--i) * (360deg/12) ) );
    inset:20px;
}

.indicator{
    position: absolute;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.indicator::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    border-radius: 50%;
    z-index: 20;
    border: 4px solid red;
}

.hand{
    position: absolute;
    height: 130px;
    width: 5px;
    background-color: red;
    bottom: 0;
    border-radius: 25px;
    transform-origin: bottom;
}

.minute{
    height: 120px;
    width: 6px;
    background: black;
    transform: rotate(45deg);
}

.hour {
    height: 100px;
    width: 8px;
    transform: rotate(65deg);
    background: orange;
}